body {
	font-family: Helvetica, Arial, sans-serif;
}

div { box-sizing: border-box; }
label {
	display: block;
}

.column {
	float: left;
	
	padding: 10px;
	height: 100%;
}

#preview {
	width: 60%;
	border-right: 1px solid #ccc;
}

#edit {
	width: 40%;
}

#preview-area {
	width: 100%;
	
	background: #eee;
	padding: 20px;
}

.card {
	border: 1px solid #ccc;
	background: #fff;
	min-height: 50px;
	box-shadow: 1px 1px 1px #ccc;
	border-radius: 3px;
	padding: 10px;
}

.grid-1 .card { width: 100%; }
.grid-2 .card { width: 50%; }
.grid-3 .card { width: 33.33%; }
.grid-4 .card { width: 25%; }
.grid-5 .card { width: 20%; }
.grid-6 .card { width: 16.66%; }
