extends layout

block content
	div.header
		span Hypecard	

	div.container
		div#preview.column
			a.open Open
			h2 Preview

			div#preview-area !{content}

			
		div#edit.column
			h2 Edit
			label
				span Type:
				select#type
					option(value="none") Select a type...
					optgroup(label="Container")
						option(value="stack") Stack
						option(value="grid") Grid
						option(value="list") List
					
					optgroup(label="Content")
						option(value="image") Image
						option(value="text") Text
						option(value="video") Video

			div#form

	script(src="/script.js")