!!!
html
	head
		title Hi
		script(src="/underscore-min.js")
		script(src="/jquery.min.js")
		script(src="/x-tag-components.js")
		script(src="/Spineless.js")
		script(src="/src/LinkThing.js")
		script(src="/src/ParamsView.js")
		script(src="/src/ListView.js")
		script(src="/src/GridView.js")
		script(src="/src/StackView.js")
		script(src="/src/ImageView.js")
		script(src="/src/TextView.js")
		script(src="/src/Card.js")
		link(href="/styles.css", rel="stylesheet")

	body
		block content

	script(src="/src/player.js")