@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html, body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

div { box-sizing: border-box; -moz-box-sizing: border-box; }
label {
	display: block;
}

card {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a { color: #3887F3 }
.column {
	float: left;
	padding: 10px;
	height: 100%;
}

#preview {
	width: 60%;
	border-right: 1px solid #ccc;
}

#edit {
	border-left: 1px solid #ccc;
	width: 40%;
	margin-left: -1px;
}

#preview-area {
	width: 100%;
	
	background: #eee url('./images/bg.png');
	padding: 20px;
}

.card {
	background: #fff;
	min-height: 50px;
	border-radius: 3px;
	padding: 10px;
}

/** STACK **/
.stack { position: relative; }
.stack > card { display: none; }
card.visible { display: block; }
.stack .controls { position: absolute; right: 10px; top: 5px; z-index: 1 }

/** GRID **/
.card.grid { border: 0; box-shadow: none; }
.grid-1 > card { width: 100%; }
.grid-2 > card { width: 50%; }
.grid-3 > card { width: 33.33%; }
.grid-4 > card { width: 25%; }
.grid-5 > card { width: 20%; }
.grid-6 > card { width: 16.66%; }
.grid > div > card { float: left }

.seperator { border-top: 1px solid #eee; border-bottom: 1px solid #ccc }

.clearer { clear: both }

#edit label { display: block; margin: 5px 0 }
#edit label span { width: 130px; display: inline-block; font-weight: 600; color: #3887F3 }
#edit label input { width: 150px; padding: 5px; }
#edit label input[name="fontSize"] { width: 30px; margin-right: 5px }
#edit label textarea { width: 300px; height: 80px; padding: 5px; outline: none }
#form button { 
	padding: 8px 15px; 
	background: #328f70;
	border: 0;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

#form { overflow: auto; }

.header {
	background: #3fb58e;
	height: 40px;
	padding: 6px 10px;
	font-size: 18px;
	color: white;
	font-weight: 600;
	margin: 0;
}

.header a {color: white; text-decoration: none;}

.column > h2 { margin-top: 0 }

#form button.add {
	background: url("./images/plus_alt_24x24.png") no-repeat;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-left: 5px; 
}

#form button.remove {
	background: url("./images/x_14x14.png") no-repeat 0 3px;
	width: 24px;
	height: 24px;
	vertical-align: top;
	margin-left: 5px; 
}

button.control-button { 
	position: absolute;
	top: 0px;
	right: -2px;
	height: 40px;
}

button.remix-button { 
	position: absolute;
	top: 0px;
	right: 68px;
	height: 40px;
}

.controls a.prev {
	background: url('/images/prev.png') no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.controls a.next {
	background: url('/images/next.png') no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

a.open {
	float: right;
	padding-right: 20px;
	background: url('./images/open.png') no-repeat 100% 5px;
}

div.error { 
	display: none; 
	background: rgb(255, 202, 108);
	padding: 8px 10px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
}

strong.message {
	margin-right: 10px;
}

#preview span.id {
	font-family: monospace;
	font-weight: 300;
	margin-left: 20px;
}
